<div class="col-sm-6">
  <img src="images/mylove.jpg" style="transform: rotate(90deg);transform-origin:left ;">
</div>
<div class="col-sm-6">
  <h1>Welcome my baby's secret base </h1>
  <p> 毎日の楽しみをブログに更新してください。</p>
  <p> 新しいブログが更新されているがどうかを確認したいなら <a href="/courses.html"><font color="red">ブログ一覧</font></a>をクリックしてご覧ください。</p>
  <p> 気になるブログがあれば <a href="/contact.html"><font color="red">フォロー！ </font></a> をクリックすればフォローできます。</p>
</div>
